{% extends 'delivery_helper_app/base_form.html' %}

{% block title %}{% endblock %}

{% block panel_title %}Entregar reparto{% endblock %}

{% block form_content %}
    <tr><th colspan="2" class="table_form_special_th">¿Está seguro de que sí desea marcar como entregado este reparto? Una vez realizada esta operación, desaparecerá de su lista.</th></tr>
{% endblock %}

{% block button_title %}Sí estoy seguro{% endblock %}

{% block extra_buttons %}
    <a class="btn btn-warning" href="{% url 'repartidorentregaslist' %}">No</a>
{% endblock %}